{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_reportdashboard/profilepage/badges

    Review the badge information of the user.

    Example context (json):
    {
    }
}}
<div class="card ls-card badgesdetails_card mt-4 p-3">
	<div class="card_header">
		<h5 class="font-weight-light">{{#str}} badges, block_reportdashboard {{/str}}</h5>
	</div>
	<div class="row m-0 my-3">
	{{#userbadgesinfo}}
		<div class="col-md-4 col-sm-4 pr-1 pl-0 mb-2">
			<div class="badges_card card rounded text-center p-2 h-100">
				<span class="m-auto badgeimage" style='background-image: url("{{badgeimage}}");'>
                </span>
				<h6 class="font-weight-light mt-1">{{badgename}}</h6>
			</div>
		</div>
	{{/userbadgesinfo}}
	{{^userbadgesinfo}}
		<span class="alert alert-info">{{#str}} nobadgesavailable, block_reportdashboard {{/str}}</span>
	{{/userbadgesinfo}}
	</div>
</div>
